.box, .box2, .box3, .box4 {
    margin: 30px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    transform: translateX(-70px);
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: black;
    transform: translateX(25px);
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: translateY(-25px);
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(300px, 100px);
}