body {
    margin: 0;
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: blue;
}

button:hover{
    cursor: pointer;
}