body {
    margin: 0;
}

.navbar {
    margin: 32px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 300;
}

.navbar .bar {
    width: 36px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin: 3px;
}

.navbar .hamburger {
    display: none;
}

.links ul {
    display: flex;
    list-style: none;

}

.links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 8px;
}


a.active {
    border-bottom: 1px solid black;
}

.gallery {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 49%;
    padding: 16px;
    box-sizing: border-box;
}

.card img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.card img:hover {
    opacity: 0.9;
}

.card h2 {
    margin: 8px 0px 16px 0px;
    font-weight: 300;
}

.why {
    width: 50%;
    margin: 100px 200px;
}

.banner {
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
}

.message {
    color: red;
    font-size: 50px;
    font-style: italic;
    margin-top: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.contact p {
    margin: 0;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 20px;
    }
    .navbar .hamburger{
        display: block;
    }
    .navbar .links{
        display: none;
    }
    .card{
        width: 100%;
        padding: 0;
    }
    .why{
        width: 80%;
        padding: 20px;
        margin: 0;
    }
    .message{
        font-size: 40px;
    }

}