.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 100px;
    transform: rotate(45deg);
    transform-origin: top left;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 100px;
    transform: rotate(45deg);
    transform-origin: bottom left;
}

.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 150px;
    transform: rotate(45deg) scale(1.5) ;
    transform-origin: center;
}